In [1]:
# sklearn Regression _ 수치예측

import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

DF = pd.read_csv('https://raw.githubusercontent.com/rusita-ai/pyData/master/Insurance.csv')

DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [3]:
DF.head(3)

   age     sex    bmi  children smoker     region    expenses
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [4]:
# 분석 변수 선택
# X : 'age', 'bmi', 'children'
# y : 'expenses'


DF1 = DF[['expenses', 'age', 'bmi', 'children']]

DF1.head(3)

     expenses  age    bmi  children
0  16884.9240   19  27.90         0
1   1725.5523   18  33.77         1
2   4449.4620   28  33.00         3

In [5]:
from sklearn.model_selection import train_test_split

X = DF1[['age', 'bmi', 'children']]
y = DF1['expenses']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3,
                                                    random_state = 2045)

print('Train Data : ', X_train.shape, y_train.shape)
print('Test Data : ', X_test.shape, y_test.shape)

Train Data :  (936, 3) (936,)
Test Data :  (402, 3) (402,)

In [6]:
%%time

from sklearn.linear_model import LinearRegression

MR = LinearRegression(normalize = True,
                      n_jobs = -1)

MR.fit(X_train, y_train)

CPU times: user 16.8 ms, sys: 8.6 ms, total: 25.4 ms
Wall time: 113 ms

In [7]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, MR.predict(X_test))

114300134.03204553

In [8]:
# 모델 생성

%%time

from sklearn.linear_model import Ridge

RG = Ridge(normalize = True, 
           alpha = 0.3,
           solver = 'cholesky')   

RG.fit(X_train, y_train)

CPU times: user 925 µs, sys: 2.6 ms, total: 3.53 ms
Wall time: 6.26 ms

In [9]:
# 모델평가

mean_squared_error(y_test, RG.predict(X_test))

113578068.78448391

In [10]:
# 모델 생성 

%%time

from sklearn.linear_model import Lasso

LS = Lasso(normalize = True, 
           alpha = 0.2)
   
LS.fit(X_train, y_train)

CPU times: user 3.68 ms, sys: 664 µs, total: 4.34 ms
Wall time: 11.3 ms

In [11]:
mean_squared_error(y_test, LS.predict(X_test))

114279766.62560356

In [12]:
# 모델 생성
# l1_ratio : default = 0.5

%%time

from sklearn.linear_model import ElasticNet

EN = ElasticNet(normalize = True, 
                alpha = 0.001,
                l1_ratio = 0.7)
   
EN.fit(X_train, y_train)

CPU times: user 2.46 ms, sys: 145 µs, total: 2.61 ms
Wall time: 6.47 ms

In [13]:
# 모델 평가 

mean_squared_error(y_test, EN.predict(X_test))

113571195.19021483

In [14]:
# Decision Tree Regressor
# 모델 생성

%%time

from sklearn.tree import DecisionTreeRegressor

DTR = DecisionTreeRegressor(max_depth = 5,
                            criterion ='mse',
                            random_state = 2045)

DTR.fit(X_train, y_train)

CPU times: user 19.7 ms, sys: 6.11 ms, total: 25.8 ms
Wall time: 71.9 ms